@page
@model csci340_iseegreen.Pages_ListItems.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<br>
<div id="header_box">
<h1 id="search_heading">Details</h1>
</div>
<br>

<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ListItems.TimeDiscovered)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ListItems.TimeDiscovered)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ListItems.List)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ListItems.List.Name)
        </dd>
        <hr>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ListItems.Plant.Genus.Family.Category)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ListItems.Plant.Genus.Family.Category.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ListItems.Plant.Genus.Family)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ListItems.Plant.Genus.FamilyID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ListItems.Plant.Genus)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ListItems.Plant.GenusID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ListItems.Plant.SpecificEpithet)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ListItems.Plant.SpecificEpithet)
        </dd>
        @if (Model.ListItems.Plant.InfraspecificEpithet != null) {
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ListItems.Plant.InfraspecificEpithet)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ListItems.Plant.InfraspecificEpithet)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ListItems.Plant.TaxonRank)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ListItems.Plant.TaxonRank)
        </dd>
        }
        
        <!--
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ListItems.Location)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ListItems.Location.Id)
        </dd> -->
    </dl>
</div>
<div>
    <a asp-page="./Index" asp-route-itemid="@Model.ListItems.ListID">Back to List</a>
</div>
