@page
@model csci340_iseegreen.Pages_ListItems.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>@Model.ListItems[0].List.Name</h1>

<p>
    <a asp-page="/Search/Index">Search for more!</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ListItems[0].TimeDiscovered)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ListItems[0].Plant.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ListItems[0].Location)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.ListItems) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TimeDiscovered)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Plant.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location.Id)
            </td>
            <td>
                <a asp-page="/ListItems/Edit" asp-route-id="@item.Plant.KewID">Edit</a> |
                <a asp-page="/Taxa/Details" asp-route-id="@item.Plant.KewID">Details</a> |
                <a asp-page="/ListItems/Delete" asp-route-id="@item.Plant.KewID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
