@page
@model csci340_iseegreen.Pages.Categories.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Categories[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Categories[0].Sort)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Categories[0].APG4sort)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Categories) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sort)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.APG4sort)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Category">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Category">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Category">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
