@page
@model csci340_iseegreen.Pages.Search.IndexModel

@{
    ViewData["Title"] = "Search";
}
<br>

<h1 id="search_heading">Search</h1>
<form>
    <p>
        <input type="text" placeholder="Species" asp-for="SearchString" />
        
        <input type="text" placeholder="Family" asp-for="FamilyString" />
        
    
        <select class="custom_select" asp-for="CategoryFilter" asp-items="Model.Categories">
            <option value="">Category</option>
            @foreach ((string cat, string desc) in Model.CategoryOptions)
            {
                <option value="@cat">@desc</option>
            }
        </select>

        <input type="submit" value="Apply Filters" />
    </p>
</form>


<table class="table">
    <thead>
        <tr>
            <th id ="family">
                @Html.DisplayNameFor(model => model.Taxa[0].Genus.Family)
            </th>
            <th id="genus">
                <a asp-page="./Index" asp-route-sortOrder="@Model.GenusSort" asp-route-currentFilter="@Model.CurrentFilter">
                    @Html.DisplayNameFor(model => model.Taxa[0].Genus)
                </a>
                
            </th>
            <th id="species">
                <a asp-page="./Index" asp-route-sortOrder="@Model.SpeciesSort" asp-route-currentFilter="@Model.CurrentFilter">
                    @Html.DisplayNameFor(model => model.Taxa[0].SpecificEpithet)
                </a>
                
            </th>
            <th id="infra">
                @Html.DisplayNameFor(model => model.Taxa[0].InfraspecificEpithet)
            </th>
            <th id="rank">
                @Html.DisplayNameFor(model => model.Taxa[0].TaxonRank)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Taxa) {
        <tr>
            <td id="family">
                @if (item.Genus != null){
                    @Html.DisplayFor(modelItem => item.Genus.FamilyID);
                 }
                 else {
                    <p>None</p>
                 }
            </td>
            <td id="genus">
                @Html.DisplayFor(modelItem => item.GenusID)
            </td>
            <td id="species">
                @Html.DisplayFor(modelItem => item.SpecificEpithet)
            </td>
            <td id="infra">
                @Html.DisplayFor(modelItem => item.InfraspecificEpithet)
            </td>
            <td id="rank">
                @Html.DisplayFor(modelItem => item.TaxonRank)
            </td>
    
        </tr>
}
    </tbody>
</table>

@{
    var prevDisabled = !Model.Taxa.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.Taxa.HasNextPage ? "disabled" : "";
}

<a id="prevnex"
    asp-page="./Index"
   asp-route-pageIndex="@(Model.Taxa.PageIndex - 1)"
   asp-route-currentFilter="@Model.CurrentFilter"
   class="btn btn-primary @prevDisabled">
    Previous
</a>
<a id="prevnex"
    asp-page="./Index"
   asp-route-pageIndex="@(Model.Taxa.PageIndex + 1)"
   asp-route-currentFilter="@Model.CurrentFilter"
   class="btn btn-primary @nextDisabled">
    Next
</a>