@page
@model csci340_iseegreen.Pages.Search.IndexModel

@{
    ViewData["Title"] = "Search";
}
<br>

<h1>Search</h1>

<form>
    <p>
        <label for="SearchString">Search by Species:</label>
        <input type="text" asp-for="SearchString" />
        
        <label for="FamilyString">Search by Family:</label>
        <input type="text" asp-for="FamilyString" />
        
        <label for="CategoryFilter">Filter by Category:</label>
        <select asp-for="CategoryFilter" asp-items="Model.Categories">
            <option value="">All</option>
            @foreach ((string cat, string desc) in Model.CategoryOptions)
            {
                <option value="@cat">@desc</option>
            }
        </select>

        <input type="submit" value="Apply Filters" />
    </p>
</form>


<table class="table">
    <thead>
        <tr>
            <th id ="family">
                @Html.DisplayNameFor(model => model.Taxa[0].Genus.Family)
            </th>
            <th id="genus">
                <a asp-page="./Index" asp-route-sortOrder="@Model.GenusSort" asp-route-currentFilter="@Model.CurrentFilter">
                    @Html.DisplayNameFor(model => model.Taxa[0].Genus)
                </a>
                
            </th>
            <th id="species">
                <a asp-page="./Index" asp-route-sortOrder="@Model.SpeciesSort" asp-route-currentFilter="@Model.CurrentFilter">
                    @Html.DisplayNameFor(model => model.Taxa[0].SpecificEpithet)
                </a>
                
            </th>
            <th id="infra">
                @Html.DisplayNameFor(model => model.Taxa[0].InfraspecificEpithet)
            </th>
            <th id="rank">
                @Html.DisplayNameFor(model => model.Taxa[0].TaxonRank)
            </th>


<!--
            <th>
                @Html.DisplayNameFor(model => model.Taxa[0].HybridGenus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Taxa[0].HybridSpecies)
            </th>
        
            <th>
                @Html.DisplayNameFor(model => model.Taxa[0].Authors)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Taxa[0].USDAsymbol)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Taxa[0].USDAsynonym)
            </th> -->
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Taxa) {
        <tr>
            <td id="family">
                @if (item.Genus != null){
                    @Html.DisplayFor(modelItem => item.Genus.FamilyID);
                 }
                 else {
                    <p>None</p>
                 }
            </td>
            <td id="genus">
                @Html.DisplayFor(modelItem => item.GenusID)
            </td>
            <td id="species">
                @Html.DisplayFor(modelItem => item.SpecificEpithet)
            </td>
            <td id="infra">
                @Html.DisplayFor(modelItem => item.InfraspecificEpithet)
            </td>
            <td id="rank">
                @Html.DisplayFor(modelItem => item.TaxonRank)
            </td>
    
        </tr>
}
    </tbody>
</table>

@{
    var prevDisabled = !Model.Taxa.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.Taxa.HasNextPage ? "disabled" : "";
}

<a asp-page="./Index"
   asp-route-pageIndex="@(Model.Taxa.PageIndex - 1)"
   asp-route-currentFilter="@Model.CurrentFilter"
   class="btn btn-primary @prevDisabled">
    Previous
</a>
<a asp-page="./Index"
   asp-route-pageIndex="@(Model.Taxa.PageIndex + 1)"
   asp-route-currentFilter="@Model.CurrentFilter"
   class="btn btn-primary @nextDisabled">
    Next
</a>