@page
@model csci340_iseegreen.Pages_Lists.IndexModel

@{
    ViewData["Title"] = "Index";
}

@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager


@if (SignInManager.IsSignedIn(User))
{
        var user = @UserManager.GetUserName(User);

<br> 
<div id="header_box">
<h1 id="search_heading">@user's Lists</h1>
</div>
<br>

<div class="row">
    <div class="column">
            <div class="card">
                <span class="rotate"><p id="plus">&#x2795</p></span>
                <a asp-page="Create" id="createnew">Create New</a>
            </div>
        </div>
    @foreach (var item in Model.Lists) {
      if (item.OwnerID == UserManager.GetUserId(User)) {
        <div class="column">
            <div class="card">
                <a id="tag3" asp-page="./Delete" asp-route-id="@item.Id">&#x2795</a>
                <h2><b>@Html.DisplayFor(modelItem => item.Name)</b></h2>
                <div class="cardtag">
                    <a id="tag1" asp-page="/ListItems/Index" asp-route-itemid="@item.Id">Items</a> 
                    <a id="tag2" asp-page="./Edit" asp-route-id="@item.Id">Edit</a>
                </div>
                
            </div>
        </div>
      }
        
    }
</div>
}
<script>
  function link() {
    document.getElementById("createnew").click();
  }

  function click1() {
    document.getElementById("tag1").click();
  }

</script>
<style>
    * {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

h2 {
    vertical-align: auto;
    margin: auto;
    font-size: 18px;
}

p {
    font-size: 14px;
}

/* Float four columns side by side */
.column {
  float: left;
  width: 25%;
  padding: 0 10px;
  margin-bottom: 20px;
}

/* Remove extra left and right margins, due to padding in columns */
.row {
    margin: 0 -5px;
    margin-bottom: 10px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the counter cards */
.card {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  padding: 24px;
  text-align: center;
  background-color: #f1f1f1;
  outline: darkgreen 1px;
  height: 200px;
}

.card:hover {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  background-color: #bdd0ac;
}

/* Responsive columns - one column layout (vertical) on small screens */
@@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

#createnew {
  vertical-align: auto;
  margin: auto;
}

#plus {
  font-size: 64px;
  vertical-align: auto;
  margin: auto;
}

.cardtag{
  margin-bottom: 5px;
}

#tag1 {
  background-color: rgb(227, 227, 227);
  border: 0.5px solid black;
  color: black;
  padding: 0.5em 1em;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 10px;
}

#tag1:hover {
  background-color: #a9bf96;
}

#tag1:active {
  box-shadow: none;
  top: 5px;
}

#tag2 {
  background-color: rgb(227, 227, 227);
  border: 0.5px solid black;
  color: black;
  padding: 0.5em 1em;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 10px;
}

#tag2:hover {
  background-color: #a9bf96;
}

#tag2:active {
  box-shadow: none;
  top: 5px;
}

#tag3 {
  position: absolute;
  right: 5px;
  top: 5px;
  text-decoration: none;
  transform: rotate(45deg);
  font-size: 20px;
}





</style>

